* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif !important;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.app {
  margin-bottom: 100px;
}